.navbar-nav{
    width: 50%;
    height: 70px;
   
display: flex;
justify-content: space-between;
font-size: 18px;
font-style: italic;
}
.collapse {
width: 100%;
height: 70px;
background-color: rgb(157, 200, 246);

}