<app-header></app-header>
<router-outlet></router-outlet>
<div class="block">
    <div class="product">
    <div class="image">
      <img class="img" src="https://images.unsplash.com/photo-1581955957646-b5a446b6100a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3VufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <h4 class="pro-title">MS-89</h4>
    <h5 class="pro-title">Price:</h5>
    <span class="text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, rerum? Corrupti praesentium velit dolorem facilis aperiam nesciunt ducimus dignissimos non, pariatur minus ex sequi debitis dolorum quidem, nihil sit harum.</p>
    </span>
    </div>
      <div class="form-box">
        <form [formGroup]="surveyform"  (ngSubmit)="onSubmit()">
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
              
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
              
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please enter Email.
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">
              Please select .
            </div>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
      
      
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit </button>
      </div>
        </form>
      </div>
      </div>
    
    
    


